@keyframes slow-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.rotate-slow {
  animation: slow-rotate 8s linear infinite;
}



@keyframes mic-blink {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); } 
}
.mic-blink {
  animation: mic-blink 3s ease-in-out infinite;
}

